<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
   </head>

  <body>
    top#index

	<%= button_to "ボタン", {controller: 'top', action: 'index'} %>
    <p>
	本の値段は<%= @testname %>円です。
	</p>
  </body>
</html>
